body {
	background-image: url("components/background.png");
}

.box {
	display: flex;
	flex-direction: column;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(5px);
	min-height: 30vh;
	min-width: 20vw;
	max-width: 30vw;
	border-radius: 0.3rem;
}

.login-form {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.buttons {
	padding-top: 0.5rem;
	display: flex;
	flex-direction: row;
	margin: auto;
}

.buttons input {
	width: 12vw;
	height: 3vh;
	border-radius: 0.3rem;
	border: none;
	background-color: rgb(136, 214, 103);
}

* {
}
.buttons input:hover {
	background-color: rgb(44, 235, 44);
	cursor: pointer;
}

.buttons input:active {
	background-color: rgb(40, 182, 40);
}
.input input {
	width: 12vw;
	height: 3vh;
	border-radius: 0.3rem;
	border: none;
}
